@import url(normalize.css);
.verde {
  background-color: #19766c;
}

.nav-link {
  color: #19766C !important;
}

.nav-link:hover {
  color: #86bc70 !important;
  padding-bottom: 0%;
  border-bottom: dotted;
  webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

@media (min-width: 200px) and (max-width: 450px) {
  .inicio {
    font-size: 10px !important;
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .dropdown-menu {
    width: 100%;
  }
}

@media (min-width: 601px) {
  .dropdown-menu {
    width: 521px;
    border-top-style: solid;
    border-color: #19766c;
    border: 5%;
    top: 123% !important;
    left: -270px !important;
  }
}

.letra-verde {
  color: #19766C !important;
}

.akzidenzgroteskbq {
  font-family: 'akzidenzgroteskbq', sans-serif !important;
}

@media (min-width: 200px) and (max-width: 700px) {
  .big-tittle {
    font-size: 4.0875rem;
    line-height: 78.37px;
    letter-spacing: 5px;
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  .big-tittle {
    font-size: 4.0875rem;
    line-height: 78.37px;
    letter-spacing: 5px;
  }
}

@media (min-width: 1101px) {
  .big-tittle {
    font-size: 5.0875rem;
    line-height: 88.37px;
    letter-spacing: 5px;
  }
}

.font-bold {
  font-weight: 700;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.redes-sociales a .fa-facebook-f {
  color: #19766c;
  padding: 3%;
  padding-left: 6%;
  padding-right: 6%;
  border: .09rem  solid;
  border-radius: 100%;
  webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.redes-sociales a .fa-facebook-f:hover {
  color: white;
  background-color: #c7d685;
  padding: 2%;
  padding-left: 6%;
  padding-right: 6%;
  border: .09rem  solid;
  border-radius: 50%;
}

.redes-sociales a .fa-instagram {
  color: #19766c;
  padding: 3%;
  border: .09rem solid;
  border-radius: 50%;
  webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.redes-sociales a .fa-instagram:hover {
  color: white;
  background-color: #c7d685;
  padding: 3%;
  border: .09rem solid;
  border-radius: 50%;
}

.redes-sociales a .fa-youtube {
  color: #19766c;
  padding: 3%;
  border: .09rem  solid;
  border-radius: 50%;
  webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.redes-sociales a .fa-youtube:hover {
  color: white;
  background-color: #c7d685;
  padding: 3%;
  border: .09rem  solid;
  border-radius: 50%;
}

.redes-sociales-1 a .fa-facebook-f {
  color: #19766c;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  border: .09rem  solid;
  border-radius: 100%;
  webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.redes-sociales-1 a .fa-facebook-f:hover {
  color: white;
  background-color: #19766c !important;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  border: .09rem  solid;
  border-radius: 50%;
}

.redes-sociales-1 a .fa-instagram {
  color: #19766c;
  padding: 2%;
  border: .09rem solid;
  border-radius: 50%;
  webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.redes-sociales-1 a .fa-instagram:hover {
  color: white;
  background-color: #19766c !important;
  padding: 2%;
  border: .09rem solid;
  border-radius: 50%;
}

.redes-sociales-1 a .fa-youtube {
  color: #19766c;
  padding: 2%;
  border: .09rem  solid;
  border-radius: 50%;
  webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.redes-sociales-1 a .fa-youtube:hover {
  color: white;
  background-color: #19766c !important;
  padding: 2%;
  border: .09rem  solid;
  border-color: white;
  border-radius: 50%;
}

@media (min-width: 200px) and (max-width: 700px) {
  #menu {
    height: 64px;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  #menu a {
    margin-left: 3%;
    padding: 2%;
  }
}

@media (min-width: 701px) {
  #menu {
    height: 64px;
  }
}

@media (min-width: 200px) and (max-width: 700px) {
  #head-1 {
    height: 345px !important;
  }
}

@media (min-width: 701px) {
  #head-1 {
    height: 100%;
  }
}

@media (min-width: 200px) and (max-width: 700px) {
  .head-left-letras .letricas {
    position: absolute;
    top: 12%;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  .head-left-letras .letricas {
    position: absolute;
    left: 15%;
    top: 3%;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 1101px) {
  .head-left-letras {
    width: 100%;
    margin: 0 auto;
  }
  .head-left-letras .letricas {
    position: absolute;
    top: 22%;
    left: 25%;
  }
}

.servicios {
  position: relative;
  margin-top: -3%;
}

@media (min-width: 200px) and (max-width: 700px) {
  .text-1 {
    letter-spacing: 2px;
    color: #19766C;
    font-family: 'quicksand', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.7rem;
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  .text-1 {
    letter-spacing: 2px;
    color: #19766C;
    font-family: 'quicksand', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 2.2rem;
  }
}

@media (min-width: 1101px) {
  .text-1 {
    letter-spacing: 2px;
    color: #19766C;
    font-family: 'quicksand', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 2.5rem;
  }
}

.text-2 {
  letter-spacing: 2px;
  color: #19766C;
  font-weight: 500;
  font-family: 'quicksand', sans-serif;
  font-size: 2rem;
}

.tittle-h2 {
  font-size: 2.5rem;
  line-height: 40px;
}

.font-custom {
  font-weight: 500;
}

.tittle-h3 {
  font-size: 2.375rem;
  line-height: 25px;
  letter-spacing: 2px;
}

.elige-vivir {
  font-family: 'akzidenzgroteskbq', sans-serif;
  font-size: 5.50875em;
  line-height: 1.05em;
}

.en-el-lugar {
  font-size: 1.375rem;
  line-height: 23.72px;
  letter-spacing: 1px;
  margin-bottom: 68px;
}

.contacto {
  background-color: white;
  color: #81b47c;
  text-decoration: none;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 50px;
  font-size: 1.375rem;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.contacto:hover {
  text-decoration: none;
  background-color: #19766c;
  color: white;
}

@media (min-width: 200px) and (max-width: 800px) {
  .vl {
    display: none;
    border-left: 1px solid green;
    height: 80px;
  }
}

@media (min-width: 801px) {
  .vl {
    display: inline-block;
    border-left: 1px solid green;
    height: 80px;
  }
}

.verdee {
  height: 500px;
  left: 0;
  z-index: -1;
  background-color: #C7D684;
}

.verdee-1 {
  height: 500px;
  z-index: -1;
  left: 1.3%;
  background-color: #C7D684;
}

@media (min-width: 200px) and (max-width: 700px) {
  .img-abuelas {
    position: absolute;
    top: 5%;
    right: 0%;
    left: 0%;
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  .img-abuelas {
    position: absolute;
    top: -27%;
    left: .88%;
  }
}

@media (min-width: 1101px) {
  .img-abuelas {
    position: absolute;
    top: -27%;
    left: .88%;
  }
}

@media (min-width: 200px) and (max-width: 700px) {
  .img-abuelas-1 {
    position: absolute;
    top: 5%;
    right: 0%;
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  .img-abuelas-1 {
    position: absolute;
    top: -27%;
    right: 5.22%;
  }
}

@media (min-width: 1101px) {
  .img-abuelas-1 {
    position: absolute;
    top: -27%;
    right: 5.22%;
  }
}

@media (min-width: 200px) and (max-width: 350px) {
  .caja-verde {
    border: 3px solid #80B47C;
    height: 200px;
    margin: 0 auto;
    margin-top: 14%;
  }
}

@media (min-width: 351px) and (max-width: 499px) {
  .caja-verde {
    border: 3px solid #80B47C;
    height: 250px;
    margin: 0 auto;
    margin-top: 14%;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .caja-verde {
    border: 3px solid #80B47C;
    height: 350px;
    margin: 0 auto;
    margin-top: 14%;
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  .caja-verde {
    border: 3px solid #80B47C;
    height: 300px;
    margin: 0 auto;
    margin-top: 14%;
  }
}

@media (min-width: 1101px) {
  .caja-verde {
    border: 3px solid #80B47C;
    height: 300px;
    margin: 0 auto;
    margin-top: 14%;
  }
}

@media (min-width: 200px) and (max-width: 350px) {
  .div-conocer-mas {
    position: relative;
    margin: 0 auto;
    margin-top: 180px;
  }
}

@media (min-width: 351px) and (max-width: 499px) {
  .div-conocer-mas {
    position: relative;
    margin: 0 auto;
    margin-top: 230px;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .div-conocer-mas {
    position: relative;
    margin: 0 auto;
    margin-top: 330px;
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  .div-conocer-mas {
    position: relative;
    margin: 0 auto;
    margin-top: 275px;
  }
}

@media (min-width: 1101px) {
  .div-conocer-mas {
    position: relative;
    margin: 0 auto;
    margin-top: 275px;
  }
}

@media (min-width: 200px) and (max-width: 770px) {
  .hoja-1, .hoja-2 {
    position: absolute !important;
    opacity: .3;
    width: 50% !important;
  }
}

@media (min-width: 771px) {
  .hoja-1, .hoja-2 {
    position: relative !important;
  }
}

.conocer-mas {
  background-color: #81b47c;
  padding: 0.7%;
  padding-left: 3%;
  padding-right: 3%;
  color: white;
  border-radius: 50px;
  font-size: 1.375rem;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.conocer-mas:hover {
  background-color: #19766c;
  color: white;
  text-decoration: none;
}

.enviar {
  background-color: #19766c;
  padding: 0.7%;
  padding-left: 4%;
  padding-right: 4%;
  color: white;
  border-radius: 50px;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.enviar:hover {
  background-color: #81b47c;
  color: white;
  text-decoration: none;
}

.info-empresa {
  background-color: #efefef;
}

.imagen-not {
  display: block;
  height: 330px;
  overflow: hidden;
}

.img-noticia {
  -webkit-filter: brightness(65%);
  filter: brightness(65%);
  margin-top: -10%;
  width: 100% !important;
}

@media (min-width: 200px) and (max-width: 699px) {
  .filial {
    position: relative;
  }
}

@media (min-width: 700px) {
  .filial {
    position: absolute;
  }
}

@media (min-width: 700px) {
  .linea-vertical {
    border-right: 1px solid #d3d3d3;
    height: 80px;
    width: 1px;
    display: inherit !important;
    position: absolute;
    right: 100%;
  }
}

.contacto-empresa {
  background-image: url(../img/contacto.jpg);
  background-size: 100% 100%;
  position: relative;
  height: 667px;
  background-repeat: no-repeat;
}

.footer-final {
  background-color: #19766c !important;
}

.ajustar-margen {
  margin: 0 !important;
  padding: 0 !important;
}

@media (min-width: 700px) {
  .img-abuelo-1 {
    width: 100%   !important;
    height: 217px !important;
  }
}

@media (min-width: 200px) and (max-width: 319px) {
  .texto-noticia {
    font-size: 9px;
    position: absolute !important;
    left: 1.3125rem;
    top: 1.5rem;
  }
  .texto-noticia h1 {
    font-size: 5px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .texto-noticia {
    font-size: 14px;
    position: absolute !important;
    left: 2.3125rem;
    top: 2rem;
  }
  .texto-noticia h1 {
    font-size: 15px;
  }
}

@media (min-width: 480px) and (max-width: 699px) {
  .texto-noticia {
    position: absolute !important;
    left: 3.3125rem;
    top: 5rem;
  }
  .texto-noticia h1 {
    font-size: 18px;
  }
}

@media (min-width: 700px) {
  .texto-noticia {
    position: absolute !important;
    left: 5.3125rem;
    top: 10rem;
  }
  .texto-noticia h1 {
    font-size: 2rem;
  }
}

.boton-verde {
  background-color: #81b47c;
}

.boton-verde:hover {
  background-color: #19766c;
  text-decoration: none !important;
  webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

input {
  border-radius: 150px !important;
}

input:focus {
  background-color: #81b47c !important;
  color: white !important;
}

input::-webkit-input-placeholder {
  color: white;
}

input:focus::-webkit-input-placeholder {
  color: white;
}

/* Firefox < 19 */
input:-moz-placeholder {
  color: white;
}

input:focus:-moz-placeholder {
  color: white;
}

/* Firefox > 19 */
input::-moz-placeholder {
  color: white;
}

input:focus::-moz-placeholder {
  color: white;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
  color: white;
}

input:focus:-ms-input-placeholder {
  color: white;
}

textarea {
  border-radius: 15px !important;
}

textarea:focus {
  background-color: #81b47c !important;
  color: white !important;
}

textarea:focus {
  background-color: #81b47c !important;
  color: white !important;
}

textarea:focus::-webkit-input-placeholder {
  color: white;
}

/* Firefox < 19 */
textarea:-moz-placeholder {
  color: white;
}

textarea:focus:-moz-placeholder {
  color: white;
}

/* Firefox > 19 */
textarea::-moz-placeholder {
  color: white;
}

textarea:focus::-moz-placeholder {
  color: white;
}

/* Internet Explorer 10 */
textarea:-ms-input-placeholder {
  color: white;
}

textarea:focus:-ms-input-placeholder {
  color: white;
}

input[required] + label {
  color: gray;
  position: absolute;
  top: 5px;
  /* the negative of the input width */
  left: 30px;
}

@media (min-width: 200px) and (max-width: 499px) {
  input[required] + label {
    color: gray;
    position: absolute;
    top: 9px;
    /* the negative of the input width */
    left: 30px;
    font-size: 0.7rem;
  }
}

input[required] + label:after {
  content: '(Obligatorio*)';
  font-size: 0.8rem;
  color: #d9e2a9;
}

/* show the placeholder when input has no content (no content = invalid) */
input[required]:invalid + label {
  display: inline-block;
}

/* hide the placeholder when input has some text typed in */
input[required]:valid + label {
  display: none;
}

input[required]:valid + label:hover {
  color: white;
  position: absolute;
  top: 5px;
  /* the negative of the input width */
  left: 30px;
}

#direccion {
  border: 1.2px solid;
  border-color: white;
}

.footer-finalll {
  height: 47px !important;
  width: 100% !important;
  background-color: black  !important;
  display: block !important;
  text-align: center !important;
}

.footer-finalll div p {
  display: inline-block !important;
  color: white !important;
}

.footer-finalll div img {
  display: inline-block !important;
  width: 57px;
}

.text-footer {
  letter-spacing: 2px;
  font-size: 0.93rem;
  line-height: 1.6;
}

.opacity-footer {
  opacity: .9;
}

.limpiar {
  clear: both !important;
}

.linea-footer {
  width: 252px !important;
  text-align: center !important;
}

@media (min-width: 700px) {
  .linea-footer {
    width: 252px !important;
    float: left !important;
  }
}

.btn-formulario {
  color: black !important;
  opacity: .6 !important;
  text-decoration: none;
}

.btn-formulario:hover {
  color: #19766c !important;
  text-decoration: none;
}

.posicion-correcta {
  overflow: hidden !important;
}

.txt-aliados-big {
  font-size: 5.5rem;
  color: #C7D684;
  opacity: 0.1;
  letter-spacing: 2px;
}

.posicion-ab {
  position: absolute !important;
  margin-top: 4.5% !important;
  left: 9.2%;
  bottom: 25%;
}

.ptn-susp {
  font-size: 2rem;
  line-height: 1px;
  margin-left: -8px;
  letter-spacing: 2px;
}

/*# sourceMappingURL=styless.css.map */