@import url(normalize.css);
body{
		//font-family: 'Quicksand', sans-serif !important;
}
.verde{
	background-color: rgb(25,118,108);
}
.nav-link{
	   color: #19766C !important;
}
.nav-link:hover{
    color: rgb(134,188,112) !important;
    
    padding-bottom:0%;
    border-bottom: dotted;
    webkit-transition: all 0.5s !important;
	-moz-transition: all 0.5s !important;
	-o-transition: all 0.5s !important;
	transition: all 0.5s !important;
}
.inicio{
     @media (min-width: 200px) and (max-width: 450px) {
		font-size: 10px !important;	
     }
}
.dropdown-menu{
  
        @media (min-width: 200px) and (max-width: 600px) {
		  width: 100%;

		}
		 @media (min-width: 601px)  {
		   width: 521px;
		   //position: absolute !important;
		   border-top-style: solid;
		   border-color: rgb(25,118,108);
		   border: 5%;
		   top: 123% !important;
		   left: -270px !important;
		}
}
.letra-verde{
	   color: #19766C !important;
}
//seccion de header 
.akzidenzgroteskbq {
     font-family: 'akzidenzgroteskbq', sans-serif !important;
}
.big-tittle {
  
         @media (min-width: 200px) and (max-width: 700px) {
		      font-size: 4.0875rem;
			  line-height: 78.37px;
			  // margin-left: -14px;
			  letter-spacing: 5px;

		}
		 @media (min-width: 701px) and (max-width:1100px) {
		      font-size: 4.0875rem;
			  line-height: 78.37px;
			  // margin-left: -34px;
			  letter-spacing: 5px;

		}
		 @media (min-width: 1101px)  {
		 	  font-size: 5.0875rem;
			  line-height: 88.37px;
			  // margin-left: -14px;
			  letter-spacing: 5px;
		 }
}
//fin de seccion de header
.font-bold{
    font-weight: 700;
}
.quicksand{
    font-family: 'Quicksand', sans-serif;
}
.redes-sociales{

	a{

                
		 .fa-facebook-f{

                color: rgb(25,118,108);//#3b5998;
                padding: 3%;
                padding-left: 6%;
                padding-right: 6%;

                border: .09rem  solid;
                border-radius: 100%;
                webkit-transition: all 0.5s !important;
				-moz-transition: all 0.5s !important;
				-o-transition: all 0.5s !important;
				transition: all 0.5s !important;
	      }
		 .fa-facebook-f:hover{
	            color: white;
	            background-color: rgb(199,214,133);
	            padding: 2%;
                padding-left: 6%;
                padding-right: 6%;
	            border: .09rem  solid;
	            border-radius: 50%;
	               
	      }
	      .fa-instagram{

                color: rgb(25,118,108);//#3b5998;
                padding: 3%;
                border: .09rem solid;
                border-radius: 50%;
                webkit-transition: all 0.5s !important;
				-moz-transition: all 0.5s !important;
				-o-transition: all 0.5s !important;
				transition: all 0.5s !important;
	      }
		 .fa-instagram:hover{
	            color: white;
	            background-color: rgb(199,214,133);
	            padding: 3%;
	            border:.09rem solid;
	            border-radius: 50%;
	               
	      }
	      .fa-youtube{

                color: rgb(25,118,108);//#3b5998;
                padding: 3%;
                border: .09rem  solid;
                border-radius: 50%;
                webkit-transition: all 0.5s !important;
				-moz-transition: all 0.5s !important;
				-o-transition: all 0.5s !important;
				transition: all 0.5s !important;
	      }
		 .fa-youtube:hover{
	            color: white;
	            background-color: rgb(199,214,133);
	            padding: 3%;
	            border: .09rem  solid;
	           
	            border-radius: 50%;
	               
	      }
	}

}
.redes-sociales-1{

	a{

                
		 .fa-facebook-f{

                color: rgb(25,118,108);//#3b5998;
                padding: 3%;
                padding-left: 4%;
                padding-right: 4%;

                border: .09rem  solid;
                border-radius: 100%;
                webkit-transition: all 0.5s !important;
				-moz-transition: all 0.5s !important;
				-o-transition: all 0.5s !important;
				transition: all 0.5s !important;
	      }
		 .fa-facebook-f:hover{
	            color: rgb(199,214,133);
	            background-color: rgb(199,214,133);
	            padding: 3%;
                padding-left: 4%;
                padding-right: 4%;
	            border: .09rem  solid;
	            border-radius: 50%;
	               
	      }
	      .fa-instagram{

                color: rgb(25,118,108);//#3b5998;
                padding: 3%;
                border: .09rem solid;
                border-radius: 50%;
                webkit-transition: all 0.5s !important;
				-moz-transition: all 0.5s !important;
				-o-transition: all 0.5s !important;
				transition: all 0.5s !important;
	      }
		 .fa-instagram:hover{
	            color: rgb(199,214,133);
	            background-color: rgb(199,214,133);
	            padding: 3%;
	            border:.09rem solid;
	            border-radius: 50%;
	               
	      }
	      .fa-youtube{

                color: rgb(25,118,108);//#3b5998;
                padding: 3%;
                border: .09rem  solid;
                border-radius: 50%;
                webkit-transition: all 0.5s !important;
				-moz-transition: all 0.5s !important;
				-o-transition: all 0.5s !important;
				transition: all 0.5s !important;
	      }
		 .fa-youtube:hover{
	            color: rgb(199,214,133);
	            background-color: rgb(199,214,133);
	            padding: 3%;
	            border: .09rem  solid;
	           
	            border-radius: 50%;
	               
	      }
	}

}
#menu{
       @media (min-width: 200px) and (max-width: 700px) {
		  height: 64px;
		  margin:0;padding:0;
		  background-color: white;
		  a{
		  	margin-left: 3%;
		  	padding: 2%;
		  }
		}
		 @media (min-width: 701px)  {
		   height: 64px; 
		}
}
 #head-1{
		
		@media (min-width: 200px) and (max-width: 700px) {
		    height: 345px !important;

		}
		 @media (min-width: 701px)  {
		 	height: 100%;
		 }
}
.head-left-letras{
	
  
	    @media (min-width: 200px) and (max-width: 700px) {
		     ///width: 100%;
			 
			
			 //left: 25%;
			
			.letricas{
				position: absolute;
			
				top: 12%;
				width: 100%;
				text-align: center;
				
				//text-align: center;
                //left: 25%;
			}
		}
        @media (min-width: 701px) and (max-width: 1100px){

		    .letricas{
				position: absolute;
			    left:  15%;
				top: 3%;
				width: 100%;
				text-align: center;
				
				//text-align: center;
                //left: 25%;
			}
			
        }
      @media (min-width: 1101px)  {
		   width: 100%;
			margin:0 auto;
			//left: 25%;
			.letricas{
				 position: absolute;
				
				
				top: 22%;
               left: 25%;
			}
		}
}		
    .servicios{
    	position: relative;
    	margin-top: -3%;
    }
	.text-1{
		    
		@media (min-width: 200px) and (max-width: 700px) {
		     letter-spacing: 2px;
		    color: #19766C; 
		    font-family: 'quicksand', sans-serif;
		    box-sizing: border-box;
		    font-size: 1.7rem;
			 
		}
        @media (min-width: 701px) and (max-width: 1100px){
			letter-spacing: 2px;
		    color: #19766C; 
		    font-family: 'quicksand', sans-serif;
		    box-sizing: border-box;
		    font-size: 2.2rem;
		   
			
        }
      @media (min-width: 1101px)  {
		    letter-spacing: 2px;
		    color: #19766C; 
		    font-family: 'quicksand', sans-serif;
		    box-sizing: border-box;
		    font-size: 2.5rem;
		}
           
	} 
	.text-2{
          letter-spacing: 2px;
          color: #19766C;
          font-weight: 500;
          font-family: 'quicksand', sans-serif;
          font-size: 2rem;
	}
	.tittle-h2 {
       font-size: 2.5rem;
      line-height: 40px;
    }
    .font-custom {
      font-weight: 500;
    }
    .tittle-h3 {
	    font-size: 2.375rem;
	    line-height: 25px;
	    letter-spacing: 2px;
	}
  .elige-vivir{
        font-family: 'akzidenzgroteskbq', sans-serif;
      // width: 207px;
    	font-size: 5.50875em;
		line-height: 1.05em;
		 
		//letter-spacing: 5px;
    }
    .en-el-lugar{
    	
		font-size: 1.375rem;
		line-height: 23.72px;
		letter-spacing: 1px;
		margin-bottom: 68px;	
    }
    .contacto{
    	background-color: white;
    	color: rgb(129,180,124);
    	text-decoration: none;
    	padding-left: 7%;
    	padding-right: 7%;
        padding-top: 2%;
    	padding-bottom: 2%;
		border-radius: 50px;
		//letter-spacing: 1px;
		font-size: 1.375rem;
		-webkit-transition: all 0.5s !important;
		-moz-transition: all 0.5s !important;
		-o-transition: all 0.5s !important;
		transition: all 0.5s !important;
    }
    .contacto:hover{
       	text-decoration: none;
       	background-color: rgb(25,118,108);
       	color: white;
    }
    .vl {
    	
  		@media (min-width: 200px) and (max-width: 800px) {
		    display: none;
  		    border-left: 1px solid green;
  		    height: 80px;
			 
		}
        
      @media (min-width: 801px)  {
		   display: inline-block;
	  		border-left: 1px solid green;
	  		height: 80px;
		}
	}
	.verdee{
	    height: 500px;
		left: 0;
		z-index: -1;
		background-color: #C7D684;
    }
    .verdee-1{
		height: 500px;
		z-index: -1;
		left: 1.3%;
		background-color: #C7D684;
    }
    .img-abuelas{
		
        @media (min-width: 200px) and (max-width: 700px) {
		   position: absolute;
		   top:5%;
		   right: 0%;
		   left: 0%;
		}
		 @media (min-width: 701px) and (max-width: 1100px){
		   position: absolute;
		   top:-27%;
		   left: .88%
		 }
		 @media (min-width: 1101px)  {
		   position: absolute;
		   top:-27%;
		   left: .88%;
		}

    }

    .img-abuelas-1{
		
		 @media (min-width: 200px) and (max-width: 700px) {
		   position: absolute;
		   top:5%;
		   right: 0%;

		}
		@media (min-width: 701px) and (max-width: 1100px){
            position: absolute;
		   top:-27%;
		   right: 5.22%;

		}
		 @media (min-width: 1101px)  {
		   position: absolute;
		   top:-27%;
		   right: 5.22%;
		}

    }
    .caja-verde{

       
       @media (min-width: 200px) and (max-width: 350px) {
		   border: 3px solid #80B47C;
	       height: 200px;
	       margin: 0 auto;
	       margin-top: 14%;
		}
		@media (min-width: 351px) and (max-width: 499px) {
		   border: 3px solid #80B47C;
	       height: 250px;
	       margin: 0 auto;
	       margin-top: 14%;
		}

		@media (min-width: 500px) and (max-width: 700px) {
		   border: 3px solid #80B47C;
	       height: 350px;
	       margin: 0 auto;
	       margin-top: 14%;
		}
		@media (min-width: 701px) and (max-width: 1100px){
           border: 3px solid #80B47C;
           height: 300px;
           margin: 0 auto;
           margin-top: 14%;

		}
		 @media (min-width: 1101px)  {
		  border: 3px solid #80B47C;
	      height: 300px;
	      margin: 0 auto;
	      margin-top: 14%;
		}

    }
    .div-conocer-mas{
    	
    	@media (min-width: 200px) and (max-width: 350px) {
		    position: relative;
    		margin: 0 auto;
    		margin-top: 180px; 
		}
		@media (min-width: 351px) and (max-width: 499px) {

    		position: relative;
    		margin: 0 auto;
    		margin-top: 230px; 
    	 //  margin-top: 85.5%;
		}
		@media (min-width: 500px) and (max-width: 700px) {
		    position: relative;
    		margin: 0 auto;
    		margin-top: 330px; 
		}
		@media (min-width: 701px) and (max-width: 1100px){
            position: relative;
    		margin: 0 auto;
    		margin-top: 275px; 

		}
		@media (min-width: 1101px)  {
			position: relative;
    		margin: 0 auto;
    		margin-top: 275px; //margin-top: 45.5%;  
		}

    }
    .hoja-1,.hoja-2{
         @media (min-width: 200px) and (max-width: 770px) {
		    position: absolute !important;
		    opacity: .3;
    		width: 50% !important;
		}
		@media (min-width: 771px)  {

    		position: relative !important;
    		
		}
    }
    .conocer-mas{
        background-color: rgb(129,180,124);
        padding: 0.7%;
        padding-left: 3%;
        padding-right: 3%;	
        color: white;
        border-radius: 50px;
		font-size: 1.375rem;
		-webkit-transition: all 0.5s !important;
		-moz-transition: all 0.5s !important;
		-o-transition: all 0.5s !important;
		transition: all 0.5s !important;
    }
	.conocer-mas:hover{
       background-color: rgb(25,118,108);
       color: white;
       text-decoration: none;
    }
    .enviar{
        background-color: rgb(25,118,108); 
        padding: 0.7%;
        padding-left: 4%;
        padding-right: 4%;	
        color: white;
        border-radius: 50px;
		-webkit-transition: all 0.5s !important;
		-moz-transition: all 0.5s !important;
		-o-transition: all 0.5s !important;
		transition: all 0.5s !important;
    }
	.enviar:hover{
       background-color: rgb(129,180,124);
       color: white;
       text-decoration: none;
    }


    .info-empresa{
		background-color: rgb(239,239,239);
    }
    .imagen-not{
	   display: block;
       height: 330px;
       overflow: hidden;
    }
    .img-noticia{
		filter: brightness(65%);
        margin-top: -10%;
        width: 100%!important;
    }
    .filial{
		 @media (min-width: 200px) and (max-width: 699px) {
		   position: relative;
		 

		}
		 @media (min-width: 700px)  {
		   position: absolute;
		 
		}
    }
    .linea-vertical{
			
		@media (min-width: 200px) and (max-width: 699px) {
		   
		 

		}
		 @media (min-width: 700px)  {
		    border-right: 1px solid #d3d3d3;
			height: 80px;
		    width: 1px;
		    display: inherit !important;
		    position: absolute;
			right: 100%;
		 
		}
    }
    .contacto-empresa{

    	 
    	 background-image: url(../img/contacto.jpg);
	     background-size: 100% 100%;
	     position: relative;
	    
	     height: 667px;
	    
	     background-repeat: no-repeat;
    }
    .footer-final{
			background-color: rgb(25,118,108)  !important;
    }
    .ajustar-margen{
		margin: 0 !important;
		padding: 0 !important;
    }
    .img-abuelo-1{

         @media (min-width: 700px)  {
		    width: 100%   !important;
		    height: 217px !important;
		 
		}
    }
    .texto-noticia{
		
		@media (min-width: 200px) and (max-width: 319px) {
			font-size: 9px;
		    position: absolute !important;
			left: 1.3125rem;//85px;
			top: 1.5rem;//160px;
			h1{
				font-size: 5px;
			}
		 

		}
		@media (min-width: 320px) and (max-width: 479px) {
			font-size: 14px;
		    position: absolute !important;
			left: 2.3125rem;//85px;
			top: 2rem;//160px;
			h1{
				font-size: 15px;
			}
		 

		}	
		@media (min-width: 480px) and (max-width: 699px) {
		    position: absolute !important;
			left: 3.3125rem;//85px;
			top: 5rem;//160px;
			h1{
				font-size: 18px;
			}
		 

		}
		 @media (min-width: 700px)  {
		    position: absolute !important;
			left: 5.3125rem;//85px;
			top: 10rem;//160px;
		 
		}
    }
    .boton-verde{
		background-color: rgb(129,180,124);
		
    }
    .boton-verde:hover{
		background-color: rgb(25,118,108);
		text-decoration: none !important;
		 webkit-transition: all 0.5s !important;
		-moz-transition: all 0.5s !important;
		-o-transition: all 0.5s !important;
		transition: all 0.5s !important;
    }
    input{
    	 border-radius: 150px !important;
    }
    input:focus {
		background-color: rgb(129,180,124) !important;
		color: white !important;
	}
	input::-webkit-input-placeholder {
	    color: white;
	}
	input:focus::-webkit-input-placeholder {
	    color:white;
	}

	/* Firefox < 19 */
	input:-moz-placeholder {
	    color: white;
	}
	input:focus:-moz-placeholder {
	    color:white;
	}

	/* Firefox > 19 */
	input::-moz-placeholder {
	    color: white;
	}
	input:focus::-moz-placeholder {
	    color:white;
	}

	/* Internet Explorer 10 */
	input:-ms-input-placeholder {
	    color: white;
	}
	input:focus:-ms-input-placeholder {
	    color:white;
	}
    textarea{
    	 border-radius: 15px !important;
    }
    textarea:focus {
		background-color: rgb(129,180,124) !important;
		color: white !important;
	}
	textarea:focus {
		background-color: rgb(129,180,124) !important;
		color: white !important;
	}
	
	textarea:focus::-webkit-input-placeholder {
	    color:white;
	}

	/* Firefox < 19 */
	textarea:-moz-placeholder {
	    color: white;
	}
	textarea:focus:-moz-placeholder {
	    color:white;
	}

	/* Firefox > 19 */
	textarea::-moz-placeholder {
	    color: white;
	}
	textarea:focus::-moz-placeholder {
	    color:white;
	}

	/* Internet Explorer 10 */
	textarea:-ms-input-placeholder {
	    color: white;
	}
	textarea:focus:-ms-input-placeholder {
	    color:white;
	}
	#direccion{
			border: solid;
			border-color: white;
			border-style: .3px;
	}
	.footer-finalll{
      height:47px !important;
      width: 100% !important;
      background-color: black  !important;
      display: block !important;
      text-align: center !important;
           div{

              p{
                display: inline-block !important;
                color: white !important;

              }
              img{
                display: inline-block !important;
                width: 57px ;
              }
           }
    }